.col-auto
  %br
  %h2 Consultant Information
  %br

  %form{ :method => "post" }
    .row.mb-1
      %label.col-5.v-align-center{ :for => "company" }
        Consultant Company &nbsp;
      %input.col-7.form-control#company{ :type => "text", :name => "company", :value=> "#{@user.consultant_company}" }
    .row.mb-1
      %label.col-5.v-align-center{ :for => "name" }
        Consultant Name &nbsp;
      %input.col-7.form-control#name{ :type => "text", :name => "name", :value=> "#{@user.consultant_name}" }
    .row.mb-1
      %label.col-5.v-align-center{ :for => "email" }
        Email &nbsp;
      %input.col-7.form-control#email{ :type => "email", :name => "email", :value => "#{@user.consultant_email}" }
    .row.mb-1
      %label.col-5.v-align-center{ :for => "phone" }
        Phone &nbsp;
      %input.col-7.form-control#phone{ :type => "tel", :name => "phone", :value => "#{@user.consultant_phone}" }
    .row.mb-1
      %label.col-5.v-align-center{ :for => "title" }
        Title &nbsp;
      %input.col-7.form-control#title{ :type => "text", :name => "title", :value => "#{@user.consultant_title}" }

    %br
    %input.btn.btn-primary{ :type => "submit", :value => "Save" }
    %a.btn.btn-secondary{ :href => "/" }
      Cancel
