!!!
%html{ :lang => "en" }
  %head
    %script{ :src => "/js/jquery-3.1.1.js" }
    %script{ :src => "/js/jquery-migrate-3.0.0.min.js" }
    %script{ :src => "/js/bootstrap-collapse.js" }
    %script{ :src => "/js/bootstrap-transition.js" }
    %script{ :src => "/js/bootstrap-alert.js" }
    %script{ :src => "/js/bootstrap-modal.js" }
    %script{ :src => "/js/bootstrap-dropdown.js" }
    %script{ :src => "/js/bootstrap-scrollspy.js" }
    %script{ :src => "/js/bootstrap-tab.js" }
    %script{ :src => "/js/bootstrap-tooltip.js" }
    %script{ :src => "/js/bootstrap-popover.js" }
    %script{ :src => "/js/bootstrap-button.js" }
    %script{ :src => "/js/bootstrap-carousel.js" }
    %script{ :src => "/js/bootstrap-typeahead.js" }
    %script{ :src => "/js/format_shortcut.js" }
    %script{ :src => "/js/helpers.js" }

    %link{ :href => "/css/serpico.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/css/font-awesome.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :integrity => "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", :crossorigin => "anonymous", :rel => "stylesheet", :type => "text/css" }

    %script{ :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :crossorigin => "anonymous" }
    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :crossorigin => "anonymous" }
    %script{ :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :crossorigin => "anonymous" }

    %meta{ :charset => "utf-8" }/
    %title Serpico
    %meta{ :content => "", :name => "description" }/
    %meta{ :content => "", :name => "author" }/

  - if valid_session?
    %body
      %nav.navbar.navbar-expand-md.navbar-light.bg-light.mb-4
        %ul.navbar-nav.no-collapse
          %li.nav-item
            %a.nav-link.fa.fa-file-word-o{ :href => "/reports/list" } &nbsp;List Reports
          %li.nav-item
            %a.nav-link.fa.fa-pencil-square-o{ :href => "/report/new" } &nbsp;New Report

        %button.navbar-toggler{ :type => "button", "data-toggle" => "collapse", "data-target" => "#rightNavbar", "aria-controls" => "rightNavbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation" }
          %span.navbar-toggler-icon

        %div#rightNavbar.navbar-collapse.collapse
          %span.mr-auto
          %ul.navbar-nav
            - if is_administrator?
              %li.nav-item
                %a.nav-link.fa.fa-sitemap{ :href => "/master/findings" } &nbsp;Findings Database
              %li.nav-item
                %a.nav-link.fa.fa-reorder{ :href => "/admin/" } &nbsp;Administration
            %li.nav-item
              %a.nav-link.fa.fa-tasks{ :href => "/info" } &nbsp;Consultant Information
            %li.nav-item
              %a.nav-link.fa.fa-support{ :href => "/reset" } &nbsp;Change Password
            %li.nav-item
              %a.nav-link.fa.fa-external-link-square{ :href => "/logout" } &nbsp;Logout

      %div.container-fluid
        - if @master
          %div.alert.alert-danger
            %strong WARNING
            %br
            You are editing the Templates Database

        %div.row
          %div.col.col-auto
            - if @master
              %ul.side-menu
                %li.side-menu-title Findings Menu
                %li
                  %a.side-menu-link{ :href => "/master/findings" } List Current Findings
                %li
                  %a.side-menu-link{ :href => "/master/findings/new" } Add Finding
              %ul.side-menu
                %li.side-menu-title Database Functions
                %li
                  %a.side-menu-link{ :href => "/master/export" } Export Current Findings
                %li
                  %a.side-menu-link{ :href => "/master/import" } Import Findings
            - elsif @admin
              %ul.side-menu
                %li.side-menu-title Admin User Menu
                %li
                  %a.side-menu-link{ :href => "/admin/add_user" } Add User
                %li
                  %a.side-menu-link{ :href => "/admin/list_user" } List Users
                %li.side-menu-title Admin Report Template Menu
                %li
                  %a.side-menu-link{ :href => "/admin/templates/add" } Add Report Template
                %li
                  %a.side-menu-link{ :href => "/admin/templates" } List Report Templates
                %li
                  %a.side-menu-link{ :href => "/admin/udo_templates" } Manage UDOs templates for reports
                %li.side-menu-title Plugin Menu
                %li
                  %a.side-menu-link{ :href => "/admin/plugins" } Enable/Disable Plugins
                %li
                  %a.side-menu-link{ :href => "/admin/admin_plugins" } Administrator Specific Plugins
                %li.side-menu-title Maintenance Menu
                %li
                  %a.side-menu-link{ :href => "/admin/config" } Modify Configurations
                %li
                  %a.side-menu-link{ :href => "/admin/dbbackup" } Backup Master Database
                  %a.side-menu-link{ :href => "/admin/attacments_backup" } Backup All Attachments
                - @version = File.open("VERSION.txt").read()
                %li.side-menu-title Serpico Version: #{@version}

            - else
              - if @report
                %ul.side-menu
                  %li.side-menu-title
                    #{@report.report_name}
                  %li
                    %a{ :href => "/report/#{@report.id}/edit" } Edit Report Information
                  %li
                    %a{ :href => "/report/#{@report.id}/generate" } Generate Report
                    %li.side-menu-title Findings
                  %li
                    %a{ :href => "/report/#{@report.id}/findings" } List Current Report Findings
                  %li
                    %a{ :href => "/report/#{@report.id}/findings_add" } Add Finding from Templates
                  %li
                    %a{ :href => "/report/#{@report.id}/findings/new" } Create New Finding
                  %li.side-menu-title Attachments
                  %li
                    %a{ :href => "/report/#{@report.id}/upload_attachments" } Upload New Attachment
                  %li
                    %a{ :href => "/report/#{@report.id}/attachments" } List Attachments
                  %li.side-menu-title Metasploit Data Management
                  %li
                    %a{ :href => "/report/#{@report.id}/hosts" } Hosts
                  %li
                    %a{ :href => "/report/#{@report.id}/vulns" } Vulnerabilities
                  %li
                    %a{ :href => "/report/#{@report.id}/services" } Services
                  %li.side-menu-title Additional
                  %li
                    %a{ :href => "/report/#{@report.id}/additional_features" } Additional Features
              - if @plugin_side_menu
                %ul.side-menu
                  %li.side-menu-title Enabled Plugins
                  -@plugin_side_menu.each do |item|
                    %li
                      %a{ :href => "#{item["link"]}?report_id=#{@report.id}" } #{item["name"]}

          =yield
  - else
    %body.text-center.login
      %link{ :href => "/css/signin.css", :rel => "stylesheet", :type => "text/css" }

      %form.form-signin{ :action => "/login", :method => "POST", :role => "form" }
        %img.mb-3{ :src => "#{@logo}", :height => 270, :width =>  300 }
        %input.form-control.mb-3{ :autofocus => "", :placeholder => "Username", :required => "", :type => "text", :name=> "username" }
        %input.form-control.mb-3{ :placeholder => "Password", :required => "", :type => "password", :name=> "password", :autocomplete => "off" }
        %button.btn.form-control.btn-signin{ :type => "submit" } Sign in
