.col-md-10
  %h3 Current Users
  %br

  .table.table-striped
    %table
      %tbody
        - if @users
          %tr
            %td{ :style => "width: 30%" }
              %b
                Username
            %td{ :style => "width: 30%" }
              %b
                Level/Authentication Type
            %td{ :style => "width: 40%;text-align: right;" }
              %b
                Actions
          - @users.each do |user|
            %tr
              %td{ :style => "width: 30%" }
                #{user.username}
              %td{ :style => "width: 30%" }
                #{user.type} / #{user.auth_type}
              %td{ :style => "width: 40%;text-align: right;" }
                %a.btn.btn-sm.btn-danger{ :href => "/admin/delete/#{user.id}" }
                  %i.fa.fa-trash.icon-white{ :title => "Delete User" }
                %a.btn.btn-sm.btn-warning{ :href => "/admin/edit_user/#{user.id}" }
                  %i.fa.fa-pencil.icon-white{ :title => "Edit Password" }
        - else
          No Users. How Curious. Who are you?
