.col-auto
  %br
  %h3 Current Templates
  %br

  %div.table.table-striped
    %table{ :style => "width: 80%" }
      %tbody
        - if @templates
          %tr
            %th{ :style => "width: 30%" }
              Report Type
            %th{ :style => "width: 30%" }
              Description
            %th{ :style => "width: 30%" }
              Template Type
            %th{ :style => "width: 10%;text-align: right;" }
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions
          - @templates.each do |template|
            %tr
              %td
                #{template.report_type}
              %td
                #{template.description}
              %td
                - if template.finding_template
                  Finding Template
                - elsif template.status_template
                  Status Template
                - else
                  Report Template
              %td
                %a.btn.btn-icon-sm.btn-warning.mb-1{ :href => "/admin/templates/#{template.id}/edit" }
                  %i.fa.fa-edit{ :title => "Edit" }
                %a.btn.btn-icon-sm.btn-danger.mb-1{ :href => "/admin/delete/templates/#{template.id}" }
                  %i.fa.fa-trash-o{ :title => "Delete Template" }
                %a.btn.btn-icon-sm.btn-info{ :href => "/admin/templates/#{template.id}/download" }
                  %i.fa.fa-play-circle{ :title => "Preview" }
                %a.btn.btn-icon-sm.btn-success{:href => "/admin/templates/#{template.id}/tree"}
                  %i.fa.fa-indent{:title => 'Tree'}
        - else
          No Templates. Silly goose, how will you create reports?
